@font-face {
    font-family: 'GothamSSM';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url('../font-family/GothamSSm-Book_Web.woff2') format('woff2');
  }


*{
    box-sizing: border-box;
}

html{
    font-size: 12px;
    
}

img{
    max-width: 100%;
}


body {
    font-family: 'GothamSSM', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
#first-layout{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/0x0/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0);
    
}

#second-layout{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD);
   

}
#third-layout{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/2056ad87-6a25-403c-89f3-35fe291bdb65/bvlatuR/std/2880x1800/Homepage-Model-S-Desktop-LHD?quality=auto-medium&format=auto);
   
}

#fourth-layout{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/17ecbd59-0e37-4add-8aca-f905d12c02e4/bvlatuR/std/2880x1800/Homepage-Model-X-Desktop-LHD?quality=auto-medium&format=auto);
   
}
#fifth-layout{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/27d0055c-b0bf-476c-b3aa-ec59d314f871/bvlatuR/std/0x0/27d0055c-b0bf-476c-b3aa-ec59d314f871);
   
}
#sixth-layout{
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/0x0/dd739764-bcaa-4263-9488-8c73bc9fb046);
   
}

.layout{
    background-size: 110%;
    background-repeat: no-repeat;
    background-position:center;
    
    
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.8rem;
       
}

nav a{
    font-weight: 600;
    font-size: 1.1rem ;
    text-shadow: 1px 1px 1px #ffffff;



        
  
}




#logo{
    max-width: 14rem;
    max-height: 100%;
    padding: 0 0 0 2.7rem;
}


#products-list{
    list-style-type: none;
    display: flex;
    font-size: 2rem;
 
       
    
}

#products-list a{
    padding: 1rem;
    
    
}

#products-list a:hover{
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0, 0.15);
    transition: 700ms;
   
    
}

#support-list{
    list-style-type: none;
    display: flex;
    font-size: 2rem;
    
    
    

}

#support-list a {
    padding: 1rem;
    
}

#support-list a:hover{
    background-color: rgb(0, 0, 0, 0.15);
    transition: 700ms;
    border-radius: 0.5rem;
    cursor: pointer;
    
}


.stock-btn{
    border-radius: 4px;
    background-color:rgba(23, 26, 32, 0.8);
    color: white;
    font-size: 1.2rem;
    padding: 1.5rem;
    max-width: 20rem;
    max-height: 3.5rem;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
}

.config-btn{
    border-radius: 4px;
    background-color:rgba(244, 244, 244, 0.65);
    color: #393c41;
    font-size: 1.2rem;
    padding: 1.5rem;
    max-width: 20rem;
    max-height: 3.5rem;
    font-weight: bold;
    border: none;
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.config-btn:hover{
    cursor: pointer;
}

.stock-btn:hover{
    cursor: pointer;
}

.buttons-first-layout{
  padding-top: 30%;
  margin-left: 40%;
  

 
  
}

.buttons{
    padding-top: 30%;
    margin-left: 40%;
    display: flex;
}

#menu-icon{
    display: none;
    position: absolute;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    [class*="col-"] {
        width: 100%;
      }

      html{
        font-size: 8px;
      }

      

    .layout{
        max-height: 150rem;
        background-size: 220%;
        background-position: center;
        display: flex;        
        flex-direction: column;
    }
      
     
    #products-list{
        display: none;
    }

    #support-list{
        display: none;
    }


  #menu-icon{
    display: block;
    right: 5%;
    
}

.stock-btn{
    font-size: 1.5rem;
}

.config-btn{
    font-size: 1.5rem;
}

.buttons-first-layout{
    padding-top: 90%;
    margin-left: 20% !important;
}

.buttons{
    padding-top: 90%;
    margin-left: 22% !important;
}

     

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px){

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    html{
        font-size: 8px;
      }

   

    #products-list{
        display: none;
    }

    #support-list{
        display: none;
    }
      
      #menu-icon{
        display: block;
    }
  

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)and (max-width: 991px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    html{
        font-size: 10px;
      }

     

     
      
     
    #products-list{
        display: none;
    }

    #support-list{
        display: none;
    }

   

  #menu-icon{
    display: block;
}

      

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    html{
        font-size:11px;
      }

    

 
  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

}